body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: lightgray;
}

.grey {
  background-color: #222;
  color: white;
}

.header {
  margin: 0;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 1;
}

.container {
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 50px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #555;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #111;
  color: aqua;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin: 10px 0 0 20vh;
  padding: 1px 16px;
  width: 100%;
}

.uppercard {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.cardcontainer {
  /* background-color: grey; */
  height: 20vh;
}

.cardtitle {
  font-weight: 700;
  font-size: larger;
}

.cardcontent {
  padding: 1rem;
}

.cardtext {
  margin: 0;
}

.formLabel {
  margin-top: 1rem;
}

.roundedButton {
  border-radius: 2rem;
}

.nopadding {
  padding: 0;
}

.newpost {
  margin-top: 50;
}

.card {
  margin-bottom: 25px;
}

.uppercard {min-height: 140px;}

.logincard {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 20px;
}

.error {
  justify-content: center;
  align-content: center;
  background-color: #ff6666;
}



/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 990px) {
  .uppercard {min-height: 400px;}
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {
    /* margin-left: 0; */
    margin: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.headerbutton {
  height: 50px;
  padding: 0 25px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

.headerbutton:hover {
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
}